{:book/slug     "clj-book-manual"
 :book/title    "The clj-book Manual"
 :book/author   "The clj-book authors"
 :book/chapters ["chapters/01-quickstart.clj"
                 "chapters/02-authoring.clj"
                 "chapters/03-configuration.clj"
                 "chapters/04-theming.clj"
                 "chapters/05-commands.clj"
                 "chapters/06-error-catalog.clj"]}
