{:reproducible {:author "A. Author"  :title "On Reproducible Builds"     :year 2020}
 :typesetting  {:author "B. Writer"  :title "Foundations of Digital Typesetting" :year 2018}
 :dataoriented {:author "C. Designer" :title "Programming with Plain Data" :year 2021}}
