{:reproducible {:author "C. Lamb and S. Zacchiroli"
                :title  "Reproducible Builds: Increasing the Integrity of Software Supply Chains"
                :year   2022}
 :typesetting  {:author "D. E. Knuth"
                :title  "Digital Typography"
                :year   1999}
 :dataoriented {:author "Y. Sharvit"
                :title  "Data-Oriented Programming"
                :year   2022}}
